<!DOCTYPE html>
<html>
<head>
   <title></title>
   <link rel="stylesheet" type="text/css" href="combined_files/css/styles.css">
</head>
<body>
   <div id="app"></div>

   <script type="text/template" id="template-main">
      <h1>App</h1>
      <div id="elements"></div>
   </script>

   <script type="text/template" id="template-dataset">
      <div><%= name %> <a href="#" class="add">Add</a></div>
      <div id="rendered"></div>
   </script>

   <script type="text/template" id="template-listview">
      <thead>
         <tr class='header'>
            <th>Date</th>
            <th>Item</th>
            <th>Amount</th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </script>

   <script type="text/template" id="template-listitem">
      <td><%= date %></td>
      <td><%= name %></td>
      <td><%= amount.readable() %></td>
   </script>

   <script src="compiled/bundle.js"></script>
</body>
</html>
