<!DOCTYPE html>
<html>
<head>
   <title></title>
   <link rel="stylesheet" type="text/css" href="dist/css/main.css">
   <link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-theme.css">
</head>
<body>
   <div id="app">Javascript is needed for Banknote.</div>

   <script type="text/template" id="template-main">
      <h1 class="apptitle">Banknote</h1>
      <div class="jsElements"></div>
   </script>

   <script type="text/template" id="template-particulars">
      <div class="header"><%- name %><% if (hasAddButton) { %> <a href="#" class="add"><i class="fa fa-plus"></i></a><% } %></div>
      <div class="jsRendered"></div>
   </script>

   <script type="text/template" id="template-listview">
      <thead>
         <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Amount</th>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </script>

   <script type="text/template" id="template-listitem">
      <td><%- date %></td>
      <td><%- name %></td>
      <td><%- amount.readable() %></td>
   </script>

   <script type="text/template" id="template-monthlytable">
      <thead>
         <tr>
            <th></th>
            <% _.each(months, function(month){ %>
               <th><%- month %></th>
            <% }); %>
            <% if(shouldShowTotal()) { %>
               <th>Total</th>
            <% } %>
         </tr>
      </thead>
      <tbody>
      </tbody>
   </script>

   <script type="text/template" id="template-monthlysummary">
      <thead>
         <tr>
            <% _.each(months, function(month){ %>
               <th><%- month %></th>
            <% }); %>
         </tr>
      </thead>
      <tbody>
         <tr class="output"></tr>
      </tbody>
   </script>

   <script type="text/template" id="template-monthlysummaryrow">
      <%- amount.readable() %>
   </script>

   <script type="text/template" id="form-addentry">
      <form>
        <div class="form-group">
          <label for="addentry-date">Date:</label>
          <input id="addentry-date" class="form-control" name="date" type="date" value="<%- date %>"/>
        </div>
        <div class="form-group">
          <label for="addentry-name">Name:</label>
          <input id="addentry-name" class="form-control" name="name" type="text" value="<%- name %>"/>
        </div>
        <div class="form-group">
          <label for="addentry-amount">Amount:</label>
          <input id="addentry-amount" class="form-control" name="amount" type="text" value="<%- amount.get() %>"/>
        </div>
      </form>
    </script>

   <script id="modal-view-template" type="text/html">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title"><%- title %></h4>
            </div>
            <div class="modal-body" id="content">
               ...
            </div>
            <div class="modal-footer" id="buttons">
               ...
            </div>
         </div>
      </div>
   </script>

   <script type="text/template" id="template-tableview">
      <thead></thead>
      <tbody></tbody>
   </script>

   <script type="text/template" id="template-summaryblock">
      <h1><%- header %></h1>
      <div class="content"></div>
   </script>

   <script src="dist/js/bundle.js"></script>

   <div id="modal" class="modal fade" role="dialog"></div>
</body>
</html>
