html {
   background-color: $color-background;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   color: $color-text;
}

body {
   text-align: center;
}
