table {
   width: 100%;
   td {
      border: 0 !important;  // Override bootstrap
      padding: 6px;
   }
   &.editable {
      td {
         padding: 0 !important;  // Override bootstrap
         vertical-align: middle !important;  // Override bootstrap
      }
      input {
         width: 80px;
         border: 0;
         margin: 2px;
         padding: 3px 3px 3px 6px;
         background-color: $color-editable-background;
         border-radius: 1px;
      }
   }
}

thead {
   font-weight: bold;
}


td {
   &.statementLabel {
      color: $color-row-label-text;
   }
}

.shouldZero {
   tbody {
      td:not(.zero) {
         background-color: $color-didntzero-background;
      }
   }
}
