
$color-text: #000;
$color-background: #fcfcfc;
$color-nav-background: #333;
$color-scroll-bar: #aaa;

$color-row-label-text: #777;

$color-editable-background: #EBEEEF;
$color-zero-value: #bbb;

$color-didntzero-background: #FD943E;

$color-list-content-border: #555;

$color-depth1-header: #555;
