
$color-text: #000;
$color-background: #fcfcfc;
$color-nav-background: #333;

$color-row-label-text: #777;

$color-editable-background: #EBEEEF;
$color-zero-value: #bbb;

$color-didntzero-background: #FD943E;
