#app {
   display: inline-block;
   padding: 0 16px 50px 16px;
   margin: 0 auto;
   text-align: left;
   @include respond-to(medium) {
      padding: 0 80px 80px 80px;
   }
}

.appbanner {
   position: relative;
   color: $color-apptitle;
   border-bottom: 1px dotted #ccc;
   h1 {
      font-weight: normal;
   }
}
