.summaryBlock {
   // This is needed to clear the previous
   // summaryBlock that might be floated
   &:before {
      content: "";
      display: table;
      clear: both;
   }
}

.halfwidth {
   width: 50%;
}

.alignleft {
   float: left;
   padding-right: 0.5em;
}

.alignright {
   float: right;
   padding-left: 0.5em;
}

.list {
   .content {
      height: 50vh;
      max-height: 380px;
      overflow-x: auto;
      overflow-y: scroll;
      border-top: 1px dotted $color-list-content-border;
      border-bottom: 1px dotted $color-list-content-border;
   }
}

.banner {
   position: relative;
   h1 {
      margin: 0.6em 0 0.3em 0;
   }
}

.toolbar {
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   margin-right: 0.5em;
   font-size: 1.5em;
   .toolbarItem {
      display: table;
      height: 100%;
      a {
         cursor: pointer;
         vertical-align: middle;
         display: table-cell;
         transition: all .025s ease-in-out;
         &:hover {
            transform: scale(1.3);
         }
      }
   }
}
